/* footer bottom spacing  */
main {
    margin-bottom: 800px;
}

@media screen and (max-width: 1520px) {
    main {
        margin-bottom: 1300px;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-bottom: 800px;
    }
}

main .card {
    height: auto;
}

@media screen and (max-width: 768px) {
    main .card img {
        width: 80%;
    }

    main li {
        font-size: 13pt;
    }
}
