.text {
    text-decoration: none;
    margin-bottom: 40px;
}

.card-height {
    height: 200px;
}

@media screen and (max-width: 600px) {
    .card-text{
        font-size: 1pt;
    }
    
    main .card {
        height: 300px;
    }

    main .card {
        box-sizing: border-box;
        width: 90%;
        margin: 1%;
    }
}