.text {
    text-decoration: none;
    margin-bottom: 40px;
}

.card-height {
    height: 200px;
}

@media screen and (max-width: 1520px) {
    main .card {
        box-sizing: border-box;
        width: 48%;
        margin: 1%;
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    main .card {
        height: 300px;
    }

    main .card img{
        width: 100%;
    }
}

