.bestuur-img{
    width: 30%;
}

.card-height {
    height: 200px;
}

/* footer bottom spacing  */
main {
    margin-bottom: 1500px;
}

@media screen and (max-width: 1520px) {
    main {
        margin-bottom: 2500px;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-bottom: 2000px;
    }
}

/* Responsive design */

@media screen and (max-width: 1500px) {
    main .card {
        width: 42%;
    }

    .card-width {
        width: 90%;
    }

    .bestuur-img{
        width: 400px;
    }
}

@media screen and (max-width: 600px) {
    main .card {
        box-sizing: border-box;
        margin: 1%;
    }

    .bestuur-img{
        width: 250px;
    }
}