/* footer bottom spacing  */
main {
    margin-bottom: 800px;
    margin-top: 150px;
}

@media screen and (max-width: 1520px) {
    main {
        margin-bottom: 1300px;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-bottom: 1600px;
    }
}