.card-height {
    height: 550px;
}

.card-mail-height {
    height: 40px;
}

iframe {
    width: 90%;
    height: 550px;
}

.homepage-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-button {
    text-decoration: none;
    background: none;
    color: black;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem;
    border: none;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .card-height {
        height: 580px;
    }

    iframe {
        width: 90%;
        height: 550px;
    }

    .card-mail-height {
        height: 70px;
    }
}

@media screen and (max-width: 1200px) {
    main .card {
        box-sizing: border-box;
        margin: 1%;
        height: 600px;
    }
}

@media screen and (max-width: 800px) {
    main .card {
        height: 650px;
    }

    main .card-mail-height {
        height: 70px;
    }
}