.kampioenen-card {
    height: 600px;
}

.kampioenen-row {
    margin-bottom: 150px;
}

.page-header-spacing {
    margin-top: 150px;
}

.margin-top-text {
    margin-top: 28%;
}

.toast-container li {
    background-color: transparent !important;
}