/* footer bottom spacing  */
main {
    margin-bottom: 3000px;
}

@media screen and (max-width: 1200px) {
    main {
        margin-bottom: 5500px;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-bottom: 7500px;
    }
}

/* Text layouting */

.special-text {
    font-size: 20px;
    text-decoration: underline;
}

.text-align-left {
    text-align: left;
}

.ploegen-card-text {
    margin-left: 15px;
}

.ploegen-card {
    display: inline-block;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.card-height {
    height: 600px;
}

@media screen and (max-width: 1500px) {
    main .card {
        box-sizing: border-box;
        width: 48%;
        margin: 1%;
        height: 600px;
    }
}

@media screen and (max-width: 800px) {
    main .card {
        height: 550px;
    }

    main .ploegen-card-text {
        font-size: 12pt;
    }
}
