/* footer bottom spacing  */
main {
    margin-bottom: 2000px;
}

@media screen and (max-width: 1520px) {
    main {
        margin-bottom: 2500px;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-bottom: 3000px;
    }
}



main .card {
    height: auto;
}

@media screen and (max-width: 768px) {
    main .card img {
        width: 90%;
    }
}
