:root {
    --color-background: white;
    --color-text: black;
    --color-hover: black;
    --header-background-color: #22b3e0;
    --header-hover-color: black;
    --header-text-color: #ffffff;
    --color-primary: #6c9bcf;
    --border-radius-1: 0.4rem;
    --color-light: rgba(132, 139, 200, 0.18);
    --footer-color: rgba(0, 0, 0, 0.3);
}

.dark-mode-variables {
    --color-background: #28282b;
    --color-text: white;
    --color-hover: white;
    --header-background-color: #132bca;
    --header-hover-color: pink;
    --header-text-color: white;
    --footer-color: rgba(255, 255, 255, 0.3);
}

html {
    animation: 1s ease-out 0s 1 startupAnimation;
}

body {
    background-color: var(--color-background);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.opvallend-want-belangrijk {
    color: red;
}

/* Coloring */

.text-color {
    color: var(--color-text);
}

.title-color {
    color: var(--color-text);
}

.primary-background-color {
    background-color: #132bca;
}

.secondary-background-color {
    background-color: #22b3e0;
}

/* Text alignment */

p{
    font-size: 15pt;
}

li{
    font-size: 15pt;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-decoraction-none {
    text-decoration: none;
}

/* Titles */

.page-title {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 50pt;
    padding-top: 40px;
}

.article-title {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 25pt;
    padding-top: 40px;
}

/* Page centering */

.centered {
    margin-left: auto;
    margin-right: auto;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    color: var(--header-text-color);
    height: 70px;
    z-index: 7;
    background-color: var(--header-background-color);
}

header h1 {
    float: right;
    font-size: 20px;
    position: fixed;
    margin-left: 85%;
    top: 10px;
}

header img {
    position: fixed;
    margin-top: 6px;
    margin-left: 8%;
    width: 60px;
}

header nav {
    position: relative;
    margin-top: 10px;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: var(--header-text-color);
    display: inline-block;
    margin: 20px;
}

header nav a:hover {
    transition: 0.5s;
    color: var(--header-hover-color);
}

/* Big parts */

.big-part {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-background);
}

/* Card */

.card {
    float: left;
    border: #49739c 2px solid;
    border-radius: 15px;
    margin: 1%;
    margin-left: 1.5%;
    margin-top: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    color: var(--color-text);
}

.standard-card-width {
    width: 28%;
}

.full-page-card-width {
    width: 90%;
}

.card-text {
    font-size: 25pt;
    color: var(--color-text);
}

.card-text-2 {
    color: var(--color-text);
}

.card-img {
    max-height: 290px;
}

/* Card image scaling */

.card img {
    width: 80%;
    margin-bottom: 15px;
}

/* Handig */

.visibility-disabled {
    visibility: hidden;
}

/* Footer */

footer {
    position: relative;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: var(--footer-color);
    color: #555;
}

footer a {
    text-decoration: none;
    color: #555;
}

.footer-text-size{
    font-size: 12pt;
}

/* Darkmode */
.darkmode-button:hover {
    cursor: pointer;
}

.darkmode-button {
    position: fixed;
    right: 10%;
    top: 10px;
}

.darkmode-button {
    text-decoration: none;
    background: none;
    color: black;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem;
    border: none;
    margin-bottom: 20px;
    background-color: none;
}

/* responsive */

@media screen and (max-width: 800px) {
    header {
        height: 55px;
    }

    header nav a {
        text-decoration: none;
        color: var(--header-text-color);
        display: inline-block;
        margin: 2px;
    }

    header img {
        display: none;
    }

    header .darkmode-button {
        right: 5px;
        top: 20px;
    }

    .page-title {
        margin-top: auto;
    }

    main .card {
        width: 100%;
    }

    .card.visibility-disabled {
        display: none;
    }

    .page-title {
        font-size: 20pt;
        padding-top: 40px;
    }

    .card-text {
        font-size: 15pt;
    }

    .responsive-d-none {
        display: none;
    }
}

/* Animations */

@keyframes startupAnimation {
      0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
