:root {
    --color-background: white;
    --color-text: black;
    --color-hover: black;
    --header-background-color: #22b3e0;
    --header-hover-color: black;
    --header-text-color: #ffffff;
    --color-primary: #6c9bcf;
    --border-radius-1: 0.4rem;
    --color-light: rgba(132, 139, 200, 0.18);
}

.dark-mode-variables {
    --color-background: #28282b;
    --color-text: white;
    --color-hover: white;
    --header-background-color: #132bca;
    --header-hover-color: pink;
    --header-text-color: white;
}

html {
    animation: 0.5s ease-out 0s 1 slideInAnimation;
}

body {
    background-color: var(--color-background);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.opvallend-want-belangrijk {
    color: red;
}

/* Coloring */

.text-color {
    color: var(--color-text);
}

.title-color {
    color: var(--color-text);
}

.primary-background-color {
    background-color: #132bca;
}

.secondary-background-color {
    background-color: #22b3e0;
}

/* Text alignment */

.text-align-center {
    text-align: center;
}

/* Titles */

.page-title {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 50pt;
    padding-top: 40px;
}

.article-title {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 25pt;
    padding-top: 40px;
}

/* Page centering */

.centered {
    margin-left: auto;
    margin-right: auto;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    color: var(--header-text-color);
    height: 70px;
    z-index: 7;
    background-color: var(--header-background-color);
}

header h1 {
    float: right;
    font-size: 20px;
    position: fixed;
    margin-left: 85%;
    top: 10px;
}

header img {
    position: fixed;
    margin-top: 6px;
    margin-left: 8%;
    width: 60px;
}

header nav {
    position: relative;
    margin-top: 10px;
    horiz-align: center;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: var(--header-text-color);
    display: inline-block;
    margin: 20px;
}

header nav a:hover {
    transition: 0.5s;
    color: var(--header-hover-color);
}

/* Big parts */

.big-part {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-background);
}

/* Card */

.card {
    float: left;
    border: #49739c 2px solid;
    border-radius: 15px;
    margin: 1%;
    margin-left: 1.5%;
    margin-top: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    color: var(--color-text);
}

.standard-card-width {
    width: 28%;
}

.card-text {
    font-size: 25pt;
    color: var(--color-text);
}

.card-text-2 {
    color: var(--color-text);
}

.card-img {
    max-height: 290px;
}

/* Card image scaling */

.card img {
    width: 80%;
    margin-bottom: 15px;
}

/* Handig */

.visibility-disabled {
    visibility: hidden;
}

/* Darkmode */
.darkmode-button:hover {
    cursor: pointer;
}

.darkmode-button {
    position: fixed;
    right: 10%;
    top: 10px;
}

.darkmode-button {
    text-decoration: none;
    background: none;
    color: black;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem;
    border: none;
    margin-bottom: 20px;
    background-color: none;
}

/* responsive */



@media screen and (max-width: 800px) {
    header img{
        display: none;
    }

    header .darkmode-button{
        display: none;
    }
    
    .page-title {
        margin-top: auto;
    }

    main .card{
        width: 100%;
    }

    .card.visibility-disabled {
        display: none;
    }

}



/* Animations */

@keyframes slideInAnimation {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
