html {
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height: 900px;
}

.opvallend-want-belangrijk{
    color: red
}

/* Coloring */

.text-color {
    color: black;
}

.title-color {
    color: black;
}

.primary-background-color {
    background-color: #132bca
}

.secondary-background-color {
    background-color: #22b3e0;
}

.accent-color {
    background-color: #49739c;
    color: #49739c;
}

/* Text alignment */

.text-align-center {
    text-align: center;
}

/* Page title */

.page-title {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 50pt;
    padding-top: 40px;
}

/* Page centering */

.centered {
    margin-left: auto;
    margin-right: auto;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    color: black;
    height: 70px;
    z-index: 7;
}

header h1 {
    float: right;
    font-size: 20px;
    position: fixed;
    margin-left: 85%;
    top: 10px;
}

header img {
    position: fixed;
    margin-top: 6px;
    margin-left: 8%;
    width: 60px;
}

header nav {
    position: relative;
    margin-top: 10px;
    horiz-align: center;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 20px;
}

header nav a:hover{
    transition: 0.5s;
    color: black
}

/* Big parts */

.big-part {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
}

/* Card */

.card {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 32%;
    border: #49739c 2px solid
}

.card-text {
    font-size: 25pt;
}

/* Card image scaling */

.card img {
    width: 80%;
    margin-bottom: 15px;
}

/* responsive */

@media screen and (max-width: 800px) {
    header{
        display: none;
    }

    .page-title{
        margin-top: auto;
    }
}
