:root {
    --table-color: #22b3e0;
    --table-text-color: black;
}

.dark-mode-variables {
    --table-color: #132bca;
    --table-text-color: white;
}

/* footer bottom spacing  */
main {
    margin-bottom: 800px;
    margin-top: 150px;
}

@media screen and (max-width: 1520px) {
    main {
        margin-bottom: 1300px;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-bottom: 1600px;
    }
}

/* Style for the entire table */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

/* Style for table rows */
tr {
    background-color: var(--table-color);
    color: var(--table-text-color);
}

/* Style for table cells */
td {
    padding: 10px;
    border: 1px solid --table-color;
}
